PrintTalk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--	The CIP4 Software License, Version 1.0

Copyright (c) 2001-2019 The International Cooperation for the Integration of 
Processes in Prepress, Press and Postpress (CIP4). All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this 
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, 
this list of conditions and the following disclaimer in the documentation and/or 
other materials provided with the distribution.

3. The end-user documentation included with the redistribution, if any, must 
include the following acknowledgment: &quot;This product includes software developed 
by the The International Cooperation for the Integration of Processes in 
Prepress, Press and Postpress (www.cip4.org)&quot; Alternately, this acknowledgment 
may appear in the software itself, if and wherever such third-party 
acknowledgments normally appear.

4. The names &quot;CIP4&quot; and &quot;The International Cooperation for the Integration of 
Processes in Prepress, Press and Postpress&quot; must not be used to endorse or 
promote products derived from this software without prior written permission. 
For written permission, please contact info@cip4.org

5. Products derived from this software may not be called &quot;CIP4&quot;, nor may &quot;CIP4&quot; 
appear in their name, without prior written permission of the CIP4 organization

&quot;CIP4&quot; and &quot;The International Cooperation for the Integration of Processes in 
Prepress, Press and Postpress&quot; are trademarks of The International Cooperation 
for the Integration of Processes in Prepress, Press and Postpress (CIP4).  All 
other names and brands are the property of their respective owners.

THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, 
INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND 
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. CIP4 AND ITS CONTRIBUTORS MAKE 
NO REPRESENTATION THAT THE USE OF THIS SOFTWARE OR DATA WILL NOT INFRINGE ANY 
PATENTS, COPYRIGHTS, TRADEMARKS, OR OTHER RIGHTS. IN NO EVENT SHALL CIP4 OR ITS 
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, 
OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING 
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY 
OF SUCH DAMAGE. 
====================================================================

This software consists of voluntary contributions made by many individuals on 
behalf of the The International Cooperation for the Integration of Processes in 
Prepress, Press and Postpress and was originally based on software some of which 
contributed by and copyrighted by Adobe Systems and Man Roland. copyright (c) 
2000-2001, Adobe Systems copyright (c) 2001-2001, Man Roland

For more information on The International Cooperation for the Integration of 
Processes in Prepress, Press and Postpress , please see &lt;http://www.cip4.org/&gt;.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		targetNamespace="http://www.printtalk.org/schema_20"
		xmlns:xjdf="http://www.CIP4.org/JDFSchema_2_0" xmlns:ptk="http://www.printtalk.org/schema_20"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="V2.0" >
    <xs:annotation>
        <xs:documentation>
        	PrintTalk schema: Version 1.4 This schema is intended for use with a single root element, namely: PrintTalk
        </xs:documentation>
    </xs:annotation>
    
    <xs:import namespace="http://www.CIP4.org/JDFSchema_2_0" />

    <!-- PrintTalk - the root element -->
    <xs:element name="PrintTalk" type="ptk:PrintTalk">
        <xs:annotation>
            <xs:documentation>
            	The 'PrintTalk' element is the one and only element intended for use as the Root element of a print talk document.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="PrintTalk">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element name="Header" type="ptk:Header" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Request" type="ptk:Request" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="ICSVersions" type="xs:NMTOKENS" use="optional"/>
        <xs:attribute name="payloadID" type="xs:NMTOKEN" use="optional"/>
        <xs:attribute name="Timestamp" type="xs:dateTime" use="required"/>
    </xs:complexType>

    <!-- the PrintTalk header -->
    <xs:complexType name="Header">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element name="From" type="ptk:From" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Sender" type="ptk:Sender" maxOccurs="1" minOccurs="0"/>
            <xs:element name="To" type="ptk:To" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="From">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="Credential" type="ptk:Credential" maxOccurs="unbounded" minOccurs="1"/>
    		<xs:element name="UserAgent" type="ptk:UserAgent" maxOccurs="1" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="To">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="Credential" type="ptk:Credential" maxOccurs="unbounded" minOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="Sender">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="Credential" type="ptk:Credential" maxOccurs="unbounded" minOccurs="1"/>
    		<xs:element name="UserAgent" type="ptk:UserAgent" maxOccurs="1" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="Credential">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="Identity" type="ptk:Identity" maxOccurs="1" minOccurs="1"/>
    	</xs:sequence>
    	<xs:attribute name="domain" type="xs:NMTOKEN" use="required"/>
    </xs:complexType>
    <xs:complexType name="UserAgent">
    </xs:complexType>
    <xs:complexType name="Identity" >
    	<xs:simpleContent>
    		<xs:extension base="xs:string"/>
    	</xs:simpleContent>
    </xs:complexType>

    <!-- the PrintTalk request -->
    <xs:complexType name="Request">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element ref="ptk:BusinessObject" maxOccurs="1" minOccurs="1"/>
            <xs:any namespace="##other" processContents="lax" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="BusinessID" type="xs:NMTOKEN" use="required"/>
        <xs:attribute name="BusinessRefID" type="xs:NMTOKEN" use="optional"/>
        <xs:attribute name="DescriptiveName" type="xs:string" use="optional"/>
    </xs:complexType>    
    
    <!-- Abstract Business Object -->
    <xs:element abstract="true" name="BusinessObject">
        <xs:annotation>
            <xs:documentation>
            	This abstract element is defined as the head of the Business Object substitution group. It is never instantiated itself.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <!--  								-->
    <!-- The Derived Business Objects 	-->
    <!--								-->
    
    <!-- ArtDeliveryRequest -->
    <xs:element name="ArtDeliveryRequest" substitutionGroup="ptk:BusinessObject" type="ptk:ArtDeliveryRequest"/>
    <xs:complexType name="ArtDeliveryRequest">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="ArtDelivery" type="ptk:ArtDelivery" maxOccurs="unbounded" minOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ArtDelivery">
    	<xs:sequence>
    		<xs:element ref="xjdf:XJDF" maxOccurs="1" minOccurs="1"/>
    	</xs:sequence>
    	<xs:attribute name="UpdateMethod" use="required">
    		<xs:simpleType>
    			<xs:restriction base="xs:NMTOKEN">
    				<xs:enumeration value="Add"/>
    				<xs:enumeration value="Replace"/>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    </xs:complexType>
    
    <!-- ArtDeliveryResponse -->
    <xs:element name="ArtDeliveryResponse" substitutionGroup="ptk:BusinessObject" type="ptk:ArtDeliveryResponse"/>
    <xs:complexType name="ArtDeliveryResponse">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element ref="xjdf:PreflightReport" maxOccurs="1" minOccurs="0"/>
    	</xs:sequence>
    	<xs:attribute name="Result" use="required">
    		<xs:simpleType>
    			<xs:restriction base="xs:NMTOKEN">
    				<xs:enumeration value="Accepted"/>
    				<xs:enumeration value="AcceptedWaiting"/>
    				<xs:enumeration value="Rejected"/>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    </xs:complexType>

    <!-- Cancellation -->
    <xs:element name="Cancellation" substitutionGroup="ptk:BusinessObject" type="ptk:Cancellation"/>
    <xs:complexType name="Cancellation">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element ref="xjdf:Comment" maxOccurs="1" minOccurs="0"/>
    	</xs:sequence>
    	<xs:attribute name="JobIDRef" type="xs:string" use="optional"/>
    </xs:complexType>
    
    <!-- Confirmation -->
    <xs:element name="Confirmation" substitutionGroup="ptk:BusinessObject" type="ptk:Confirmation"/>
    <xs:complexType name="Confirmation">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element ref="xjdf:Comment" maxOccurs="1" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- Invoice -->
    <xs:element name="Invoice" substitutionGroup="ptk:BusinessObject" type="ptk:Invoice"/>
    <xs:complexType name="Invoice">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="Pricing" type="ptk:Pricing" maxOccurs="1" minOccurs="1"/>
    	</xs:sequence>
    	<xs:attribute name="Expires" type="xs:dateTime" use="required"/>
    </xs:complexType>
    
    <!-- OrderStatusRequest -->
    <xs:element name="OrderStatusRequest" substitutionGroup="ptk:BusinessObject" type="ptk:OrderStatusRequest"/>
    <xs:complexType name="OrderStatusRequest">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="StatusRequest" type="ptk:StatusRequest" maxOccurs="unbounded" minOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusRequest">
    	<xs:attribute name="JobIDRef" type="xs:NMTOKEN" use="optional"/>
    	<xs:attribute name="ResponseDetails" use="optional">
    		<xs:simpleType>
    			<xs:restriction base="xs:NMTOKEN">
    				<xs:enumeration value="Brief"/>
    				<xs:enumeration value="CompletedMilestones"/>
    			</xs:restriction>
    		</xs:simpleType>
    	</xs:attribute>
    	<xs:attribute name="Subscribed" type="xs:boolean" use="required"/>
    </xs:complexType>
    
    <!-- OrderStatusResponse -->
    <xs:element name="OrderStatusResponse" substitutionGroup="ptk:BusinessObject" type="ptk:OrderStatusResponse"/>
    <xs:complexType name="OrderStatusResponse">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element ref="xjdf:Notification" maxOccurs="unbounded" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    
    <!-- ProofApprovalRequest -->
    <xs:element name="ProofApprovalRequest" substitutionGroup="ptk:BusinessObject" type="ptk:ProofApprovalRequest"/>
    <xs:complexType name="ProofApprovalRequest">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="ProofRequest" type="ptk:ProofRequest" maxOccurs="unbounded" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProofRequest">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element ref="xjdf:ProofItem" maxOccurs="unbounded" minOccurs="0"/>
    	</xs:sequence>
    	<xs:attribute name="JobIDRef" type="xs:string" use="optional"/>
    </xs:complexType>
    
    <!-- ProofApprovalResponse -->
    <xs:element name="ProofApprovalResponse" substitutionGroup="ptk:BusinessObject" type="ptk:ProofApprovalResponse"/>
    <xs:complexType name="ProofApprovalResponse">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element name="ProofResponse" type="ptk:ProofResponse" maxOccurs="unbounded" minOccurs="0"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProofResponse">
    	<xs:sequence maxOccurs="1" minOccurs="1">
    		<xs:element ref="xjdf:ApprovalDetails" maxOccurs="1" minOccurs="1"/>
    		<xs:element ref="xjdf:ProofItem" maxOccurs="1" minOccurs="1"/>
    	</xs:sequence>
    	<xs:attribute name="JobIDRef" type="xs:string" use="required"/>
    </xs:complexType>
    
    <!--  					-->
    <!-- The Subelements	-->
    <!--					-->
    
    <xs:complexType name="Pricing">
    </xs:complexType>



</xs:schema>