Version_1_5/PrintTalk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--	The CIP4 Software License, Version 1.0

Copyright (c) 2001-2009 The International Cooperation for the Integration of 
Processes in Prepress, Press and Postpress (CIP4). All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this 
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, 
this list of conditions and the following disclaimer in the documentation and/or 
other materials provided with the distribution.

3. The end-user documentation included with the redistribution, if any, must 
include the following acknowledgment: &quot;This product includes software developed 
by the The International Cooperation for the Integration of Processes in 
Prepress, Press and Postpress (www.cip4.org)&quot; Alternately, this acknowledgment 
may appear in the software itself, if and wherever such third-party 
acknowledgments normally appear.

4. The names &quot;CIP4&quot; and &quot;The International Cooperation for the Integration of 
Processes in Prepress, Press and Postpress&quot; must not be used to endorse or 
promote products derived from this software without prior written permission. 
For written permission, please contact info@cip4.org

5. Products derived from this software may not be called &quot;CIP4&quot;, nor may &quot;CIP4&quot; 
appear in their name, without prior written permission of the CIP4 organization

&quot;CIP4&quot; and &quot;The International Cooperation for the Integration of Processes in 
Prepress, Press and Postpress&quot; are trademarks of The International Cooperation 
for the Integration of Processes in Prepress, Press and Postpress (CIP4).  All 
other names and brands are the property of their respective owners.

THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, 
INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND 
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. CIP4 AND ITS CONTRIBUTORS MAKE 
NO REPRESENTATION THAT THE USE OF THIS SOFTWARE OR DATA WILL NOT INFRINGE ANY 
PATENTS, COPYRIGHTS, TRADEMARKS, OR OTHER RIGHTS. IN NO EVENT SHALL CIP4 OR ITS 
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, 
OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING 
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY 
OF SUCH DAMAGE. 
====================================================================

This software consists of voluntary contributions made by many individuals on 
behalf of the The International Cooperation for the Integration of Processes in 
Prepress, Press and Postpress and was originally based on software some of which 
contributed by and copyrighted by Adobe Systems and Man Roland. copyright (c) 
2000-2001, Adobe Systems copyright (c) 2001-2001, Man Roland

For more information on The International Cooperation for the Integration of 
Processes in Prepress, Press and Postpress , please see &lt;http://www.cip4.org/&gt;.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.printtalk.org/schema_15" version="V1.3"
    xmlns:jdf="http://www.CIP4.org/JDFSchema_1_1" xmlns:jdftyp="http://www.CIP4.org/JDFSchema_1_5_Types" xmlns:pt="http://www.printtalk.org/schema_15"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:documentation> PrintTalk schema: Version 1.4 This schema is intended for use with a single root element, namely: PrintTalk </xs:documentation>
    </xs:annotation>
    <!-- Import JDF and JDF Types -->
    <xs:import namespace="http://www.CIP4.org/JDFSchema_1_1" schemaLocation="http://www.cip4.org/Schema/JDFSchema_1_5/JDF.xsd"/>
    <xs:import namespace="http://www.CIP4.org/JDFSchema_1_5_Types" schemaLocation="http://www.cip4.org/Schema/JDFSchema_1_5/JDFTypes.xsd"/>

    <!-- PrintTalk - the root element -->
    <xs:element name="PrintTalk" type="pt:PrintTalk">
        <xs:annotation>
            <xs:documentation> The 'PrintTalk' element is the one and only element intended for use as the Root element of a print talk document.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType final="#all" name="Version">
        <xs:restriction base="xs:string">
            <xs:pattern value="1.5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PrintTalk">
        <xs:sequence>
            <xs:element minOccurs="1" name="Header" type="pt:Header"/>
            <xs:element minOccurs="1" name="Request" type="pt:Request"/>
        </xs:sequence>
        <xs:attribute name="version" type="pt:Version" use="required"/>
        <xs:attribute name="payloadID" type="xs:string" use="required"/>
        <xs:attribute name="Timestamp" type="jdftyp:dateTime" use="required"/>
    </xs:complexType>
    <!-- the PrintTalk header -->
    <xs:complexType name="Header">
        <xs:sequence>
            <xs:element name="From" type="pt:From"/>
            <xs:element name="To" type="pt:To"/>
            <xs:element name="Sender" type="pt:Sender"/>
        </xs:sequence>
    </xs:complexType>

    <!-- define the common cXML stuff as an abstract type -->
    <xs:annotation>
        <xs:documentation> The PrintTalk documentation make reference to the cXMLUG (cXML Users Guide), implying that the definition for some types can be found
            there, not necessarily true. In addition cxml does not offer an xml schema which defines these types; in their absence they have been defined here,
            in the printTalk domain. For convenience such types have been given a type name that begins with 'cXML-' </xs:documentation>
    </xs:annotation>
    <xs:complexType abstract="true" name="cXML-baseType">
        <xs:annotation>
            <xs:documentation> The cXML Type from which all other cXML types are derived. </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType mixed="true" name="cXML-TextOnly">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="cXML-SharedSecret">
        <xs:complexContent>
            <xs:extension base="pt:cXML-TextOnly"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="cXML-CredentialMac">
        <xs:complexContent>
            <xs:extension base="pt:cXML-TextOnly"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="cXML-UserAgent">
        <xs:complexContent>
            <xs:extension base="pt:cXML-TextOnly"/>
        </xs:complexContent>
    </xs:complexType>
    <!-- End of cXML definitions -->

    <!-- Header Elements -->
    <xs:complexType name="From">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Credential" type="pt:Credential"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="To">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Credential" type="pt:Credential"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Sender">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Credential" type="pt:Credential"/>
            <xs:element maxOccurs="1" name="UserAgent" type="pt:cXML-UserAgent"/>
        </xs:sequence>
    </xs:complexType>
    <!-- End of Header Elements -->

    <!-- Credential Element -->
    <xs:complexType final="#all" mixed="false" name="Credential">
        <xs:annotation>
            <xs:documentation> A Credential identifies and authenticates the various parties involved in a transaction. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Identity" type="jdf:telem"/>
            <xs:element minOccurs="0" name="CredentialMac" type="pt:cXML-CredentialMac"/>
            <xs:element minOccurs="0" name="SharedSecret" type="pt:cXML-SharedSecret"/>
        </xs:sequence>
        <xs:attribute name="domain" type="jdftyp:string" use="required"/>
        <xs:attribute name="type" type="jdftyp:string" use="optional"/>
    </xs:complexType>


    <!-- Abstract PrintTalk elements -->
    <xs:complexType abstract="true" name="Abstract_pt">
        <xs:annotation>
            <xs:documentation> All Elements in the PrintTalk namespace inherit from the Abstract pt Element. That is, every descendant of the Request Element
                inherits from the Abstract pt Element, either directly or indirectly through the Abstract BusinessObject </xs:documentation>
            <xs:appinfo>
                <Version First="1.3" Path="jdf:GeneralID"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:GeneralID"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Comment"/>
        </xs:sequence>
        <xs:attribute name="DescriptiveName" type="jdftyp:string" use="optional"/>
    </xs:complexType>
    <xs:complexType abstract="true" name="Abstract_pt_A">
        <xs:annotation>
            <xs:documentation> This is a special version of the Abstract pt Element without the optional DescriptiveName attribute </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="pt:Abstract_pt">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:GeneralID"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Comment"/>
                </xs:sequence>
                <xs:attribute name="DescriptiveName" type="jdftyp:string" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" mixed="true" name="Abstract_pt_B">
        <xs:annotation>
            <xs:documentation> This is a special version of the Abstract pt Element It permits the derived type to contain mixed content </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:GeneralID"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Comment"/>
        </xs:sequence>
        <xs:attribute name="DescriptiveName" type="jdftyp:string" use="optional"/>
    </xs:complexType>

    <xs:complexType abstract="true" name="BusinessObject">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:attribute name="AgentID" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="AgentDisplayName" type="jdftyp:string" use="required"/>
                <xs:attribute name="AuxID" type="jdftyp:string" use="optional"/>
                <xs:attribute name="BusinessID" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="BusinessRefID" type="jdftyp:NMTOKEN" use="optional"/>
                <xs:attribute name="RequestDate" type="jdftyp:dateTime" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- the PrintTalk request -->
    <xs:complexType name="Request">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="@RequestDate"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="pt:BusinessObject"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Abstract Business Object -->
    <xs:element abstract="true" name="BusinessObject" type="pt:BusinessObject">
        <xs:annotation>
            <xs:documentation> This abstact element is defined as the head of the Business Object substitution group It is never instantiated itself </xs:documentation>

        </xs:annotation>
    </xs:element>
    <!-- the derived business objects -->
    <xs:element name="RFQ" substitutionGroup="pt:BusinessObject" type="pt:RFQ"/>
    <xs:element name="Quote" substitutionGroup="pt:BusinessObject" type="pt:Quotation">
        <xs:annotation>
            <xs:documentation> Although the Quote Business Object has been deprecated it is still of the same type as the newly introduced Quotation Business
                Object. <!-- Future versions that introduce changes to the Quotation object should consider	-->
                <!-- the need for these two objects to remain the same 								-->
            </xs:documentation>
            <xs:appinfo>
                <Version Last="1.2" Path="."/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="Quotation" substitutionGroup="pt:BusinessObject" type="pt:Quotation">
        <xs:annotation>
            <!-- The Quotation Business Object, although new in V1.3 is based upon a previously -->
            <!-- existing type. The version appinfo reflects that type							-->
            <xs:appinfo>
                <Version First="1.3" Path="."/>
                <Version Last="1.2" Path="./@Expires"/>
                <Version First="1.3" Path="./@QuoteID"/>
                <Version Last="1.2" Path="./@ReorderID"/>
                <Version First="1.3" Path="./Pricing"/>
                <Version Last="1.2" Path="./Quote/@Expires"/>
                <Version First="1.3" Path="./Quote/@QuoteID"/>
                <Version Last="1.2" Path="./Quote/@ReorderID"/>
                <Version First="1.3" Path="./Quote/Pricing"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="PurchaseOrder" substitutionGroup="pt:BusinessObject" type="pt:PurchaseOrder">
        <xs:annotation>
            <xs:appinfo>
                <Version First="1.3" Path="./QuoteID"/>
                <Version First="1.3" Path="./Pricing"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="Confirmation" substitutionGroup="pt:BusinessObject" type="pt:Confirmation">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="./jdf:Contact"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="Cancellation" substitutionGroup="pt:BusinessObject" type="pt:Cancellation">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="./jdf:Contact"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="Refusal" substitutionGroup="pt:BusinessObject" type="pt:Refusal">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="./jdf:Contact"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrderStatusRequest" substitutionGroup="pt:BusinessObject" type="pt:OrderStatusRequest">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="./jdf:Contact"/>
                <Version First="1.2" Path="./StatusRequest/@ResponseDetails"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="OrderStatusResponse" substitutionGroup="pt:BusinessObject" type="pt:OrderStatusResponse">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="jdf:Contact"/>
                <Version Last="1.2" Path="Status"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProofApprovalRequest" substitutionGroup="pt:BusinessObject" type="pt:ProofApprovalRequest">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="jdf:Contact"/>
                <Version Last="1.2" Path="./ProofRequest/@JobIDRef"/>
                <Version Last="1.2" Path="./ProofRequest/@JobPartIDRef"/>
                <Version Last="1.2" Path="./ProofRequest/@ProofLocation"/>
                <Version First="1.3" Path="./ProofRequest/jdf:ProofItem"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProofApprovalResponse" substitutionGroup="pt:BusinessObject" type="pt:ProofApprovalResponse">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="jdf:Contact"/>
                <Version Last="1.2" Path="./ProofResponse/@JobID"/>
                <Version Last="1.2" Path="./ProofResponse/@JobPartID"/>
                <Version Last="1.2" Path="./ProofResponse/@Response"/>
                <Version First="1.3" Path="./ProofResponse/jdf:ApprovalSuccess"/>
                <Version First="1.3" Path="./ProofResponse/jdf:ProofItem"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="Invoice" substitutionGroup="pt:BusinessObject" type="pt:Invoice">
        <xs:annotation>
            <xs:appinfo>
                <Version Last="1.2" Path="jdf:JDF"/>
                <Version First="1.3" Path="Pricing"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="ReturnJob" substitutionGroup="pt:BusinessObject" type="pt:ReturnJob">
        <xs:annotation>
            <xs:appinfo>
                <Version First="1.3" Path="."/>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>

    <!-- RFQ (Request for Quote) -->
    <xs:complexType name="RFQ">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="jdf:JDF"/>
                </xs:sequence>
                <xs:attribute name="Currency" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="Estimate" type="jdftyp:boolean" use="optional"/>
                <xs:attribute name="Expires" type="jdftyp:dateTime" use="required"/>
                <xs:attribute name="ReorderID" type="jdftyp:NMTOKENS" use="optional"/>
                <xs:attribute name="ReplaceID" type="jdftyp:NMTOKEN" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Quote -->
    <xs:complexType name="Quotation">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Quote" type="pt:QuoteType"/>
                </xs:sequence>
                <xs:attribute name="Currency" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="Estimate" type="jdftyp:boolean" use="required"/>
                <xs:attribute name="Expires" type="jdftyp:dateTime" use="required"/>
                <xs:attribute name="ReorderID" type="jdftyp:NMTOKENS" use="optional"/>
                <xs:attribute name="ReplaceID" type="jdftyp:NMTOKEN" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuoteType">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="jdf:JDF"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Pricing" type="pt:Pricing"/>
                </xs:sequence>
                <xs:attribute name="Currency" type="jdftyp:NMTOKEN" use="optional"/>
                <xs:attribute name="DeviationFactor" default="None">
                    <xs:simpleType>
                        <xs:restriction base="jdftyp:EnumerationBaseType">
                            <xs:enumeration value="None"/>
                            <xs:enumeration value="Slight"/>
                            <xs:enumeration value="Significant"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Estimate" type="jdftyp:boolean" use="optional"/>
                <xs:attribute name="Expires" type="jdftyp:dateTime" use="optional"/>
                <xs:attribute name="QuoteID" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="ReorderID" type="jdftyp:NMTOKENS" use="optional"/>
                <xs:attribute name="ReplaceID" type="jdftyp:NMTOKEN" use="optional"/>
                <xs:attribute name="ReturnJDF" type="jdftyp:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Pricing">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Payment" type="pt:Payment"/>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Price" type="pt:Price"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Price">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt_A">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Additional" type="pt:Additional"/>
                </xs:sequence>
                <xs:attribute name="Amount" type="jdftyp:double" use="optional"/>
                <!-- Descriptive Name is added in the Abstract_pt_A base type -->
                <xs:attribute name="ItemRefs" type="jdftyp:NMTOKENS" use="optional"/>
                <xs:attribute name="LineID" type="jdftyp:ID" use="optional"/>
                <xs:attribute name="LineIDRefs" type="jdftyp:NMTOKENS" use="optional"/>
                <xs:attribute name="Option" type="jdftyp:NMTOKEN" use="required"/>                
                <xs:attribute name="Price" type="jdftyp:double" use="optional"/>               
                <xs:attribute name="PriceType" use="required">
                    <xs:simpleType>
                        <xs:restriction base="jdftyp:EnumerationBaseType">
                            <xs:enumeration value="Tax"/>
                            <xs:enumeration value="Rebate"/>
                            <xs:enumeration value="Discount"/>
                            <xs:enumeration value="Markup"/>
                            <xs:enumeration value="Product"/>
                            <xs:enumeration value="Total"/>
                            <xs:enumeration value="SubTotal"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Unit" type="jdftyp:string" use="optional"/>
                <xs:attribute name="UnitPrice" type="jdftyp:double" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Additional">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:attribute name="Amount" type="jdftyp:double" use="required"/>
                <xs:attribute name="Price" type="jdftyp:double" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Payment">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element minOccurs="0" maxOccurs="1" name="CreditCard" type="pt:CreditCard"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="PayTerm" type="jdf:telem"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CreditCard">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:attribute name="Authorization" type="jdftyp:string" use="optional"/>
                <xs:attribute name="AuthorizationExpires" type="jdftyp:gYearMonth" use="optional"/>
                <xs:attribute name="Expires" type="jdftyp:gYearMonth" use="required"/>
                <xs:attribute name="Number" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="Type" type="jdftyp:NMTOKEN" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Purchase Order -->
    <xs:complexType name="PurchaseOrder">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="jdf:JDF"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Pricing" type="pt:Pricing"/>
                </xs:sequence>
                <xs:attribute name="Currency" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="Expires" type="jdftyp:dateTime" use="optional"/>
                <xs:attribute name="QuoteID" type="jdftyp:NMTOKEN" use="optional"/>
                <xs:attribute name="ReorderID" type="jdftyp:NMTOKENS" use="optional"/>
                <xs:attribute name="ReplaceID" type="jdftyp:NMTOKEN" use="optional"/>
                <xs:attribute name="ReturnJDF" type="jdftyp:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Confirmation -->
    <xs:complexType name="Confirmation">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Contact"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Cancellation-->
    <xs:complexType name="Cancellation">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Contact"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Refusal -->
    <xs:complexType name="Refusal">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Contact"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Order Status Request -->
    <xs:complexType name="OrderStatusRequest">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Contact"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="StatusRequest" type="pt:StatusRequest"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StatusRequest">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:attribute name="JobIDRef" type="jdftyp:string" use="optional"/>
                <xs:attribute name="JobPartIDRef" type="jdftyp:string" use="optional"/>
                <xs:attribute name="ResponseDetails">
                    <xs:simpleType>
                        <xs:restriction base="jdftyp:EnumerationBaseType">
                            <xs:enumeration value="Brief"/>
                            <xs:enumeration value="CompletedMilestones"/>
                            <xs:enumeration value="Full"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Order Status Response -->
    <xs:complexType name="OrderStatusResponse">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Contact"/>
                    <xs:element minOccurs="0" ref="jdf:DeliveryParams"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="jdf:Notification"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Status" type="pt:Status"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="true" name="Status">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt_B">
                <xs:attribute name="JobIDRef" type="jdftyp:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Proof Approval Request -->
    <xs:complexType name="ProofApprovalRequest">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Contact"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ProofRequest" type="pt:ProofRequest"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProofRequest">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="jdf:ProofItem"/>
                </xs:sequence>
                <xs:attribute name="JobIDRef" type="jdftyp:string" use="optional"/>
                <xs:attribute name="JobPartIDRef" type="jdftyp:string" use="optional"/>
                <xs:attribute name="ProofLocation" type="jdftyp:URI" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Proof Approval Response -->
    <xs:complexType name="ProofApprovalResponse">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jdf:Contact"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ProofResponse" type="pt:ProofResponse"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProofResponse">
        <xs:complexContent>
            <xs:extension base="pt:Abstract_pt">
                <xs:sequence>
                    <xs:element ref="jdf:ApprovalSuccess"/>
                    <xs:element ref="jdf:ProofItem"/>
                </xs:sequence>
                <xs:attribute name="JobIDRef" type="jdftyp:string" use="required"/>
                <xs:attribute name="JobPartIDRef" type="jdftyp:string" use="optional"/>
                <xs:attribute name="PageIndex" type="jdftyp:IntegerRangeList" use="optional"/>
                <xs:attribute name="Response" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="jdftyp:EnumerationBaseType">
                            <xs:enumeration value="Approved"/>
                            <xs:enumeration value="ApprovedWithEdits"/>
                            <xs:enumeration value="Rejected"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Invoice -->
    <xs:complexType name="Invoice">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" ref="jdf:JDF"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Pricing" type="pt:Pricing"/>
                </xs:sequence>
                <xs:attribute name="Currency" type="jdftyp:NMTOKEN" use="required"/>
                <xs:attribute name="Expires" type="jdftyp:dateTime" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Return Job -->
    <xs:complexType name="ReturnJob">
        <xs:complexContent>
            <xs:extension base="pt:BusinessObject">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="jdf:JDF"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
